.margenes-carta{
    font-family: "2";
    padding: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    font-size: 25px;
    background-image: url('https://angular-restaurant-app.s3.eu-north-1.amazonaws.com/assets/img/fondocarta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  
  .titulo-carta{
    font-family: "4";
    font-size: 30px;
    color: white;
  }
  .p-carta{
    font-family: "1";
    font-size: 25px;
    color: white;
  }


  /* boton */
  
.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: black;
   }
   
   button:after {
    content: "";
    background: #EE2737;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }


         /* Ordenadores de sobremesa y portátiles */
         @media only screen and (min-width: 1024px) and (max-width: 1366px) {

          .margenes-carta{
            padding: 11rem;

          
          }
          

         }
     
         /* Ipad y Tablets */
         @media (max-width: 1024px) {
     
   
     
     
         }
     
         /* Moviles */
         @media (max-width: 767px) {
     
          .margenes-carta{
            font-family: "2";
            padding: 13rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            flex-direction: column;
            font-size: 25px;
            background-image: url('../../../../assets/img/fondocarta.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            
          
          }
     
         }