<div class="margins">
<h2>¡Bienvenido {{userDetails.name + " " + userDetails.lastName}}! </h2> 
<p>¡Bienvenido/a a nuestra comunidad! Estamos encantados de tenerte con nosotros y esperamos que disfrutes de todas las ventajas y oportunidades que ofrecemos. Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. ¡Que tengas una excelente experiencia!</p>

    <h3 style="margin-top: 2rem;"><b>Tus Pedidos</b></h3>
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>id</th>
              <th>Fecha del Pedido</th>
              <th>Hora del Pedido</th>
              <th>Precio Total</th>
            </tr>
          </thead>
          <tbody>
            @for (item of orders; track $index) {
            <!-- row 1 -->
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.price}} €</td>
                <td>
                  @if (item.state == "Pendiente") {
                    <b style="color: red;">{{item.state}}</b>
                   }@else if(item.state == "Entregado"){
                     <b style="color: green;">{{item.state}}</b>
                   }
                   @else if(item.state == "En Camino"){
                     <b style="color: rgb(6, 122, 218);">{{item.state}}</b>
                   }
                   @else if(item.state == "Preparando"){
                     <b style="color: rgb(233, 171, 0);">{{item.state}}</b>
                   }
                </td>
                
                <td> <button class="btn btn-sm" (click)="transferOrder(item)" onclick="my_modal_1.showModal()">Ver Detalles</button>
                
                </td>
               
            </tr>
           
            }
          </tbody>
        </table>
      </div>
</div>

<!-- Open the modal using ID.showModal() method -->

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
  
          <th>Producto</th>
          <th>Guarnicion</th>
          <th>Otra Info</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        @for (item of orderSelect; track $index) {
        <!-- row 4 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
               
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="{{item.img}}"
                    alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{item.name}}</div>
                <div class="text-sm opacity-50">{{item.type}}</div>
              </div>
            </div>
          </td>
          @if (item.type == "burgers") {
            
            <td>
              <button class="btn btn-ghost btn-xs">{{item.garrison}}</button>
            </td>
            <td><span class="badge badge-ghost badge-sm">{{item.point}}</span></td>
          }@else {
            <td></td>
            <td></td>
          }
          <td>{{item.price}}€</td>

        
       
        </tr>
      }
      </tbody>
   
      <!-- foot -->
      <tfoot>
       
      </tfoot>
    </table>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>





