<form class="form">

    <span class="input-span">
    <label for="nombre" class="label">Nombre</label>
    <input type="text" name="nombre" id="nombre"></span>

    <span class="input-span">
    <label for="apellidos" class="label">Apellidos</label>
    <input type="text" name="apellidos" id="apellidos"></span>

    <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" name="email" id="email"></span>

    <span class="input-span">
    <label for="telf" class="label">Telefono</label>
    <input type="number" name="telf" id="telf"></span>

    <span class="input-span">
    <label for="password" class="label">Contraseña</label>
    <input type="password" name="password" id="password"></span>

    <span class="input-span">
    <label for="passwordrepeat" class="label">Repetir Contraseña</label>
    <input type="passwordrepeat" name="passwordrepeat" id="passwordrepeat"></span>

    <input class="submit" type="submit" value="Registrarse">
</form>
