/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

  :root{
    color-scheme: light dark;
 
  }

  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
  }
  body {
  
   
  }


  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
   
  }


main-content {
  padding-top: 60px; /* Ajusta según la altura de tu nav-bar */
  padding-bottom: 60px; /* Ajusta según la altura de tu footer */
  min-height: calc(100vh - 120px); /* Altura de la ventana menos la altura del nav-bar y footer */
}


  /* Declara la fuente personalizada */
  @font-face {
    font-family: "2";
    src: url("/src/assets/fonts/PublicSans-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "3";
    src: url("/src/assets/fonts/PublicSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "4";
    src: url("/src/assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "5";
    src: url("/src/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "6";
    src: url("/src/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }