/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

  :root{
    color-scheme: light dark;
 
  }

  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
  
    font-family: "Outfit-Regular"; 
  }


  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
   
  }


main-content {
  padding-top: 60px; /* Ajusta según la altura de tu nav-bar */
  padding-bottom: 60px; /* Ajusta según la altura de tu footer */
  min-height: calc(100vh - 120px); /* Altura de la ventana menos la altura del nav-bar y footer */
}
