
nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; /* Asegúrate de que la barra de navegación esté por encima de la superposición */
}


 @font-face {
  font-family: "HONYA";
  src: url("/assets/fonts/Honya-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: "2";
src: url("/assets/fonts/PublicSans-Medium.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "3";
src: url("/assets/fonts/PublicSans-Light.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "4";
src: url("/assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "5";
src: url("/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "6";
src: url("/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
