<form class="form">
    <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" name="email" id="email"></span>
    <span class="input-span">
    <label for="password" class="label">Contraseña</label>
    <input type="password" name="password" id="password"></span>
    <span class="span"><a>Olvidaste tu contraseña?</a></span> 
     <!--[routerLink]='["/forgotpassword"]'-->
    <input class="submit" type="submit" value="Iniciar Sesion">
    <span class="span">No tienes cuenta? <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrate</a></span>
</form>

