<form (ngSubmit)="createUser()">
    
   
        <label for="email" class="label">Email</label>
        <input 
        type="email" name="email" id="email"
        placeholder="Email" 
        [(ngModel)]="user.email">
        <label for="password" class="label">Contraseña</label>
        <input 
        type="password" name="password" id="password"
        placeholder="Password"
        [(ngModel)]="user.password">

        <input class="submit" type="submit" value="Iniciar Sesion">

    <span class="span">No tienes cuenta? <a href="#" [routerLink]="['/users/register']" routerLinkActive="router-link-active" >Registrate</a></span>
</form>
    

