<div class="iframe">
  <div class="letter">
    <h3>¿DONDE NOS ENCONTRAMOS?</h3>
    <p>Calle de los Sabores, 123 
        Barrio de la Parrilla 
        28015 Madrid, España</p>
  </div>
  
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2583.9340668130185!2d2.731078871894616!3d39.63096889483641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297eb243faaaaab%3A0x1dd7c1556873e88f!2sMallorca%20Fashion%20Outlet!5e0!3m2!1sen!2ses!4v1718815845944!5m2!1sen!2ses"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
