

.iframe{
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
  }
  .letter{
   margin: 3rem 20rem;
   font-size: 25px;
  }
  h3{
    font-family: "4";
  }
  p{
    font-family: "2";
  }
  iframe{
    width: 70%;
    height: 500px;
  }
 @font-face {
  font-family: "HONYA";
  src: url("/assets/fonts/Honya-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: "2";
src: url("/assets/fonts/PublicSans-Medium.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "3";
src: url("/assets/fonts/PublicSans-Light.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "4";
src: url("/assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "5";
src: url("/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
font-family: "6";
src: url("/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}


