<div class="margenes">
    <div class="overflow-x-auto">

      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>ID</th>
            <th>DIRECCION</th>
            <th>TELEFONO</th>
            <th>FECHA</th>
            <th>HORA</th>
            <th>DETALLES</th>
            <th>ESTADO</th>
    
          
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="orders.length === 0 || orderFiltered.length == 0">
            <td colspan="7">
              <div role="alert" class="alert alert-warning">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 shrink-0 stroke-current"
                  fill="none"
                  viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span>No hay pedidos para la hoy</span>
              </div>
            </td>
          </tr>
          <tr *ngFor="let item of orderFiltered">
    
              <th>{{item.id}}</th>
              <td>{{item.direction}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>{{item.date}}</td>
              <td>{{item.time}}</td>
              <td> <button class="btn btn-sm" (click)="transferOrder(item)" onclick="my_modal_1.showModal()">Ver Detalles</button></td>
              <td>
                @if (item.state == "Pendiente") {
                 <b style="color: red;">{{item.state}}</b>
                }@else if(item.state == "Entregado"){
                  <b style="color: green;">{{item.state}}</b>
                }
                @else if(item.state == "En Camino"){
                  <b style="color: rgb(6, 122, 218);">{{item.state}}</b>
                }
                @else if(item.state == "Preparando"){
                  <b style="color: rgb(233, 171, 0);">{{item.state}}</b>
                }
                
              </td>
              <div style="display: flex;">
                <td><button style="" class="btn btn-success btn-sm" (click)="orderManager(item.id, 'Entregado')" >Entregado</button></td>
                <td> <button style="" class="btn btn-info btn-sm" (click)="orderManager(item.id, 'En Camino')">En Camino</button></td>
                <td> <button style="" class="btn btn-warning btn-sm"  (click)="orderManager(item.id, 'Preparando')">Preparando</button></td>
                <td><button class="btn btn-error btn-sm"  (click)="orderManager(item.id, 'Pendiente')">Pendiente</button></td>
              </div>

              <td> <a (click)="deleteOrderById(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
              </svg></a></td>

          </tr>
        </tbody>
      </table>
    </div>

    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
      
              <th>Producto</th>
              <th>Guarnicion</th>
              <th>Otra Info</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            @for (item of orderSelect; track $index) {
            <!-- row 4 -->
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                   
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="{{item.img}}"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{item.name}}</div>
                    <div class="text-sm opacity-50">{{item.type}}</div>
                  </div>
                </div>
              </td>
              @if (item.type == "burgers") {
                
                <td>
                  <button class="btn btn-ghost btn-xs">{{item.garrison}}</button>
                </td>
                <td><span class="badge badge-ghost badge-sm">{{item.point}}</span></td>
              }@else {
                <td></td>
                <td></td>
              }
              <td>{{item.price}}€</td>
            
           
            </tr>
          }
          </tbody>
       
          <!-- foot -->
          <tfoot>
           
          </tfoot>
        </table>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>
  



 