<div class="margenes">
    <div class="overflow-x-auto">

      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>ID</th>
            <th>DIRECCION</th>
            <th>TELEFONO</th>
            <th>FECHA</th>
            <th>HORA</th>
            <th>DETALLES</th>
            <th>ESTADO</th>
    
          
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="orders.length === 0">
            <td colspan="6">
              <div role="alert" class="alert alert-warning">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 shrink-0 stroke-current"
                  fill="none"
                  viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span>No hay reservas para la fecha seleccionada</span>
              </div>
            </td>
          </tr>
          <tr *ngFor="let item of orderFiltered">
    
              <th>{{item.id}}</th>
              <td>{{item.direction}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>{{item.date}}</td>
              <td>{{item.time}}</td>
              <td> <button class="btn btn-sm" (click)="transferOrder(item)" onclick="my_modal_1.showModal()">Ver Detalles</button></td>
              <td style="color: red;">
                @if (item.state == "Pendiente") {
                 <b>{{item.state}}</b>
                }@else{
                  <b>{{item.state}}</b>
                }
              </td>
              <td><div class="checkbox-wrapper-46">
                <input type="checkbox" id="cbx-46" class="inp-cbx" (change)="onCheckboxChange($event)" />
                <label for="cbx-46" class="cbx"
                  ><span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
                  ><span></span>
                </label>
              </div></td>
            
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  



  <dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
    
            <th>Producto</th>
            <th>Guarnicion</th>
            <th>Otra Info</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          @for (item of orderSelect; track $index) {
          <!-- row 4 -->
          <tr>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                 
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="{{item.img}}"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{item.name}}</div>
                  <div class="text-sm opacity-50">{{item.type}}</div>
                </div>
              </div>
            </td>
            @if (item.type == "burgers") {
              
              <td>
                <button class="btn btn-ghost btn-xs">{{item.garrison}}</button>
              </td>
              <td><span class="badge badge-ghost badge-sm">{{item.point}}</span></td>
            }@else {
              <td></td>
              <td></td>
            }
            <td>{{item.price}}€</td>
          
         
          </tr>
        }
        </tbody>
     
        <!-- foot -->
        <tfoot>
         
        </tfoot>
      </table>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>