
.Btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  .svgIcon {
    width: 16px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

  .boton-carrito{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
  }

  .btn-pagar{
    margin: 0.5rem 1.3rem;
    
  }

  .btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: black;
    border-radius: 5rem;
    position: relative;
  }
  
  .btn-cart::after {
    
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: rgb(255, 255, 255);
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(186, 34, 233);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }


/* From Uiverse.io by vinodjangid07 */ 
.deleteButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
.deleteButton svg {
  width: 44%;
}
.deleteButton:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.deleteButton:hover .bin path {
  fill: #fff;
}
.deleteButton:active {
  transform: scale(0.98);
}
.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}
.deleteButton:hover .tooltip {
  opacity: 1;
}




  
  
  .delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }

  .swal2-modal {
    z-index: 9999 !important; /* Asegura que el modal tenga el `z-index` más alto */
}




   /* Declara la fuente personalizada */
   @font-face {
    font-family: "1";
    src: url("../../../../assets/fonts/PublicSans-Bold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }



  /* Declara la fuente personalizada */
  @font-face {
    font-family: "2";
    src: url("../../../../assets/fonts/PublicSans-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "3";
    src: url("../../../../assets/fonts/PublicSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "4";
    src: url("../../../../assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "5";
    src: url("../../../../assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "6";
    src: url("../../../../assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }