<header class="header">
    <a href="#inicio" class="a">
     <b> <P style="font-family: 'HONYA'; font-size: 20px;">CABRERA'S</P></b>
    </a>
    <button class="button" (click)="toggleMenu()">
      <img src="../../../assets/svg/menu-icon (1).svg" width="25px" alt="">
    </button>
    <nav class="nav" [class.activo]="menuActivo">
      <ul class="ul">
        <!-- <li class="li"><a href="#skills" class="a">
          Localización
        </a></li>


        <li class="li"><a href="#skills" class="a">
          Contacto
      </a></li>
       -->
        <li class=""><a href="#certificaciones" class="a">
            <div class="button-pedir">
                <button class="btn"><span></span><p data-start="RESERVAR" data-text="¡PEDIR YA!" data-title="A DOMICILIO"></p></button>
             </div>
        </a></li>
        <li class=""><a href="#skills" class="a">
            <div class="buttons">
                <button class="btn"><span></span><p data-start="RESERVAR" data-text="¡RESERVAR YA!" data-title="RESERVAR" ></p></button>
             </div>
        </a></li>
      </ul>
    </nav>
  </header>
  
