<header class="header">
  <a [routerLink]='["/index"]' class="a">
    <b> <p class="titulo-navbar" style="font-family: 'HONYA'; ">CABRERA'S</p></b>
  </a>
  <button class="button" (click)="toggleMenu()">
    <img src="../../../assets/svg/menu-icon (1).svg" width="25px" alt="" />
  </button>
  <nav class="nav" [class.activo]="menuActivo">
    <ul class="ul">


      <li class="">
        <a href="#certificaciones" class="a" (click)="closeMenu()">
          <div class="button-pedir">
            <button class="btn">
              <span></span>
              <p
                data-start="RESERVAR"
                data-text="¡PEDIR YA!"
                data-title="A DOMICILIO"
              ></p>
            </button>
          </div>
        </a>
      </li>




      <li class="">
        <a [routerLink]="['/bookings']" href="#skills" class="a" (click)="closeMenu()">
          <div class="buttons">
            <button class="btn">
              <span></span>
              <p class="p-button"
                data-start="RESERVAR"
                data-text="¡RESERVAR YA!"
                data-title="RESERVAR"
              ></p>
            </button>
          </div>
        </a>
      </li>


      @if(!login.isAuth){
        <li class="">
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="a" (click)="closeMenu()">
            <button class="c-button c-button--gooey">
              Iniciar Sesion
              <div class="c-button__blobs">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              style="display: block; height: 0; width: 0"
            >
              <defs>
                <filter id="goo">
                  <feGaussianBlur
                    in="SourceGraphic"
                    stdDeviation="10"
                    result="blur"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in="SourceGraphic" in2="goo"></feBlend>
                </filter>
              </defs>
            </svg>
          </a>
        </li>
      }
      




            @if(login.isAuth){
              <div class="dropdown">
                <div style="background-color: #FFB600; color: white;" tabindex="0" role="button" class="btn m-1">{{login.user.email}}</div>
                <ul style="background-color: #FFB600; color: white;" tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                  <li><a [routerLink]="['/welcome']">¡Bienvenido!</a></li>
                  @if (admin) {
                    <li><a [routerLink]="['/bookings/see-bookings']">Lista de Reservas</a></li>   
                  }
                  <li><a (click)="handlerLogout()">Cerrar Sesion</a></li>
                </ul>
              </div>
            } 

    </ul>
  </nav>
</header>
