<header class="header">
    <a href="#inicio" class="a">
      <img src="../../../assets/img/hamburger-logo.png" alt="" width="50px">
    </a>
    <button class="button" (click)="toggleMenu()">
      <img src="../../../assets/svg/menu-icon (1).svg" width="25px" alt="">
    </button>
    <nav class="nav" [class.activo]="menuActivo">
      <ul class="ul">
        <li class=""><a href="#certificaciones" class="a">
            <div class="button-pedir">
                <button class="btn"><span></span><p data-start="RESERVAR" data-text="¡PEDIR YA!" data-title="A DOMICILIO"></p></button>
             </div>
        </a></li>
        <li class=""><a href="#skills" class="a">
            <div class="buttons">
                <button class="btn"><span></span><p data-start="RESERVAR" data-text="¡RESERVAR YA!" data-title="RESERVAR" ></p></button>
             </div>
        </a></li>
      </ul>
    </nav>
  </header>
  
