.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que tenga un alto índice z para que quede por encima de otros elementos */
    width: 100%;
    font-size: 17px;
    padding: 1% 3%;
    font-family: "1";
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: transparent;
    animation: fadeInDown 1s;
    backdrop-filter: blur(2px);
  }

  p {
    margin: 0;
}


  
  .header .a {}
  
  .header .button {
    display: none;
  }
  
  .button {
    background: transparent;
    border: 0px solid #000;
    color: #ffffff;
  }
  
  .button img {
    filter: invert(0.9);
  }
  
  .header .nav {}
  
  .header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header .li {
    margin: 0 0.8em;
  }
  .titulo-navbar{
    font-size: 25px;
  }
  
  .ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .li {
    margin-right: 20px;
    position: relative;
  }
  
  .a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffda96;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .li:hover::after {
    width: 100%;
  }
  















  
  @media (max-width: 1024px) {

    .header .button {
      display: block;
      cursor: pointer;
      
    }
    .header{
      padding: 3% 3%;
      backdrop-filter: blur(15px);
    }
    
    .header .nav {
      width: 100%;
      height: 0;
      pointer-events: none;
      overflow: hidden;
      transition: all 0.5s ease;
      display: flex;
      flex-flow: column nowrap;
      
      align-items: center;
    }
    
    .header .nav.activo {
      height: 22vh;
      pointer-events: auto;
    }
    
    .header .ul {
      flex-direction: column;
    }
    
    .header .li {
      margin: 1rem 0;
    }
    img{
      width: 33px;
    }
    .titulo-navbar{
      font-size: 25px;

    }
    .header .nav.activo {
      height: 35vh;
      pointer-events: auto;
    }

  }

  @media (max-width: 767px) {

    .header {
      padding: 3.5% 3.5%;
      backdrop-filter: blur(20px);
    }
    .header .nav.activo {
      height: 45vh;
      pointer-events: auto;
    }
    img{
      width: 23px;
    }
    .titulo-navbar{
      font-size: 20px;
    }
    .buttons button {
      font-family: "1";
      width: 120px;
      height: 20px;
      font-size: 10px;

    }
      /* Boton Iniciar Sesion */
    .c-button {
      margin-left: 0rem;
      color: #000;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      padding: 0.7em 1.4em;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
    }

  }
  
  /* Ordenadores de sobremesa y portátiles */
  @media only screen and (min-width: 1224px) and (max-width: 1366px) {
    .header{
      padding: 2% 2%;
    }


  }
  
  /* BOTON RESERVAR */
  .buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
  }
  
  .buttons button {
    font-family: "1";
    width: 150px;
    height: 50px;
    background-color: #EE2737;    
    color: #ffffff;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 545px;
  }
  

  
  .buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .buttons button:hover {
    background-color: #FFB600;
    transition: 0.5s;
  }
  

  
  .buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .buttons button p:before, .buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #000000;
  }
  
  .buttons button:hover:before, .buttons button:hover:after {
    width: 100%;
  }
  
  .buttons button:hover span {
    z-index: 1;
  }
  
  .buttons button:hover span:before, .buttons button:hover span:after {
    height: 100%;
  }
  
  .buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button.start {
    background-color: #FFB600;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  .buttons button.start:hover:before, .buttons button.start:hover:after {
    display: none;
  }
  
  .buttons button.start:hover span {
    display: none;
  }
  
  .buttons button:active {
    outline: none;
    border: none;
  }
  
  .buttons button:focus {
    outline: 0;
  }


  @font-face {
    font-family: "HONYA";
    src: url("/assets/fonts/Honya-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }




















  

  /* BOTON PEDIR */
  .button-pedir {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
  }
  
  .button-pedir button {
    font-family: "1";
    width: 150px;
    height: 50px;
    background-color: rgba(255, 3, 3, 0);
    margin: 20px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 545px;
    border: 2px solid rgb(255, 255, 255);
  }
  .button-pedir button:hover {
    background-color: white;
    transition: 0.5s;
   
  }
  

  
  .button-pedir button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .button-pedir button:after {
    left: 0;
    bottom: 0;
  }
  
  .button-pedir button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  
  .button-pedir button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .button-pedir button span:after {
    left: 0;
    bottom: 0;
  }
  
  .button-pedir button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .button-pedir button p:before, .button-pedir button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .button-pedir button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button-pedir button p:after {
    content: attr(data-text);
    top: 150%;
    color: #000000;
  }
  
  .button-pedir button:hover:before, .button-pedir button:hover:after {
    width: 100%;
  }
  
  .button-pedir button:hover span {
    z-index: 1;
  }
  
  .button-pedir button:hover span:before, .button-pedir button:hover span:after {
    height: 100%;
  }
  
  .button-pedir button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .button-pedir button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button-pedir button.start {
    background-color: #44d8a4;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .button-pedir button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .button-pedir button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }









  /* Boton Iniciar Sesion */
  .c-button {
    margin: 20px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.7em 1.4em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #d9a106;
    border-radius: 545px;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
    border-radius: 545px;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #d9a106;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
 
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
 
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
   
  }
  
  .c-button--gooey:hover {
    color: #fff;
    
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
    
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  .button-pedir button.start:hover:before, .button-pedir button.start:hover:after {
    display: none;
  }
  
  .button-pedir button.start:hover span {
    display: none;
  }
  
  .button-pedir button:active {
    outline: none;
    border: none;
  }
  
  .button-pedir button:focus {
    outline: 0;
  }

  .dropdown{
    margin: 20px;
   
  }

  /* Declara la fuente personalizada */
  @font-face {
    font-family: "1";
    src: url("/assets/fonts/PublicSans-Bold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  











  /* Declara la fuente personalizada */
  @font-face {
    font-family: "2";
    src: url("/assets/fonts/PublicSans-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "3";
    src: url("/assets/fonts/PublicSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "4";
    src: url("/assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "5";
    src: url("/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "6";
    src: url("/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }