.review-margins{
    margin: 13rem 5rem;
    
  }
  
  .review-list {
    display: flex;
    justify-content: space-between;
  }
  
  .review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 250px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 10px 0;
    font-family: "2";
  }
  
  .review-card .review-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    font-weight: bold;
  }
  
  .review-card .review-header .name-group {
    display: flex;
    align-items: center;
  }
  
  .review-card .review-header .name-group .initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: #cac8c8;
  }
  
  .review-card .review-header .rating i {
    color: #12110d;
  }
  
  .review-card .review-description {
    color: #000000;
    font-weight: 400;
    margin: 0 45px;
  }
  
  .review-card .review-details {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    align-items: center;
    color: #000000;
  }
  
  .review-card .review-details .share-group {
    display: flex;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-card .review-details .share-group i {
    margin-right: 10px;
  }

  .review-card{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.review-card:hover{
    transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3);
}
    /* Ordenadores de sobremesa y portátiles */
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {

      .review-margins{
        margin: 9rem 7rem;

        
      }

      .review-list{
        gap: 3rem;
      }

    }

    /* Ipad y Tablets */
    @media (max-width: 1024px) {

      .review-margins{
        margin: 3rem 7rem;
        
      }
      
      .review-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .review-card {      
        width: 100%;
        height: 250px;
      }
      .review-header{
        padding-left: 3rem;

      }
      .review-card .review-header {

        justify-content: flex-start;

      }





    }

    /* Moviles */
    @media (max-width: 767px) {

      .review-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .review-margins{
        margin: 3rem 2rem;
        
      }
      .review-card {

        width: 350px;
        height: 270px;

      }
    }