<div class="review-margins">
    <div class="review-list">
      
        <ng-container *ngFor="let review of reviews">
        <div class="review-card ">
            <div class="review-header">
            <div class="name-group">
                <div class="initials">{{review.initial}}</div>
                <p>{{review.name}}</p>
            </div>
            <div class="rating">
                <i id='one' class="fas fa-star"></i>
                <i id='one' class="fas fa-star"></i>
                <i id='one' class="fas fa-star"></i>
                <i id='one' class="fas fa-star"></i>
                <i id='one' class="fas fa-star"></i>
            </div>
            </div>
            <div class="review-description">
             
            {{review.text_review}}
            </div>

            <div class="review-details">
              
            <div class="review-date">{{review.date}}</div>
            </div>
        </div>
    </ng-container>
    </div>
</div>
