.margins {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 13rem;
  margin-bottom: 30rem;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  border: 1px solid rgb(17, 17, 17);
  background-color: rgb(17, 17, 17);
  padding: 4rem;
  border-radius: 1rem;
  font-family: '2';
}

.alert-container {
  position: relative;
  min-height: 3rem; /* Reserva espacio para la alerta */
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out; /* Transición suave */
  opacity: 0;
}

.alert.active {
  opacity: 1; /* Hace visible la alerta */
}





@media (max-width: 1024px) {
  .margins {  
    margin-top: 10rem;
    margin-bottom: 40rem;
    font-size: large;
  }
}

@media (max-width: 767px) {
  .margins {  
    margin-top: 5rem;
    margin-bottom: 25rem;
    font-size: large;
  }
  form{
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    background-color: transparent;
    border: transparent;
  }
  .alert{position:static;}

  .alert-container {
    position: none;
    min-height: 0rem; /* Reserva espacio para la alerta */
  }
  input{
    width: 18rem;
  }
  .alert {
    display: flex;

  }
  
}

/* Ordenadores de sobremesa y portátiles */
@media only screen and (min-width: 1224px) and (max-width: 1366px) {
}



/* Declara la fuente personalizada */
@font-face {
    font-family: "2";
    src: url("../../../assets/fonts/PublicSans-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "3";
    src: url("/assets/fonts/PublicSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "4";
    src: url("../../../assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "5";
    src: url("/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "6";
    src: url("/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }