label{
    color: rgb(255, 255, 255);
}
input, select{
    background-color: #971823;
    color: white;
}
input:focus{
    background-color: #500c12;
}
button{
    color: white;
    background-color: #FFB600;
}
button:hover{
    background-color: #c68e00;
}

form{
    font-family: "2";
}

.alert{
  margin-bottom: 1rem;
}

/* Declara la fuente personalizada */
@font-face {
    font-family: "2";
    src: url("/assets/fonts/PublicSans-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "3";
    src: url("/assets/fonts/PublicSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "4";
    src: url("/assets/fonts/PublicSans-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "5";
    src: url("/assets/fonts/PublicSans-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  /* Declara la fuente personalizada */
  @font-face {
    font-family: "6";
    src: url("/assets/fonts/PublicSans-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }