
<section>
    <H2 style="text-align: center;">ENTRANTES</H2>
<div class="cards">
    @for (item of starters; track $index) {
        <div class="card">
            <img src="{{item.img}}" alt="" width="100%">
            <div class="card__content">
              <p class="card__title">{{item.name}}</p>
              <p class="card__description" style="color: white;">{{item.description}}</p>
              <button class="btn btn-sm btn-warning">Añadir</button>
      
            </div>
          </div>
               
    }
    
    </div>
</section>





<section>
    <H2 style="text-align: center;">HAMBURGUESAS</H2>
<div class="cards"> 
@for (item of burgers; track $index) {
    <div class="card">
        <img src="{{item.img}}" alt="" width="100%">
        <div class="card__content">
          <p class="card__title">{{item.name}}</p>
          <p class="card__description" style="color: white;">{{item.description}}</p>
          <button class="btn btn-sm btn-warning">Añadir</button>
        </div>
      </div>
}

</div>
</section>


<section>
    <H2 style="text-align: center;">POSTRES</H2>
<div class="cards"> 
@for (item of desserts; track $index) {
    <div class="card">
        <img src="{{item.img}}" alt="" width="100%">
        <div class="card__content">
          <p class="card__title">{{item.name}}</p>
          <p class="card__description" style="color: white;">{{item.description}}</p>
          <button class="btn btn-sm btn-warning">Añadir</button>
        </div>
      </div>
}

</div>
</section>




