<app-shopping-cart></app-shopping-cart>

<section>
    <H2 style="text-align: center;">ENTRANTES</H2>
<div class="cards">
    @for (item of starters; track $index) {
        <div class="card">
            <img src="{{item.img}}" alt="" width="100%">
            <div class="card__content">
              <p class="card__title">{{item.name}}</p>
              <p class="card__description" style="color: white;">{{item.description}}</p>
              <p class="card__description font-bold" style="color: white; font-family: '4';">{{item.price}} €</p>
             
              <button class="btn btn-sm btn-warning" style="background-color: #FFB600; border: #FFB600;" (click)="transferInfo(item)" onclick="my_modal_4.showModal()">Añadir</button>
            </div>
          </div>
               
    }
    
    </div>
</section>


<dialog id="my_modal_4" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 style="font-size: 25px; font-family: '4';" class="text-lg font-bold">{{selectedProduct?.name}}</h3>
    <p style="font-size: 15px; font-family: '1';" class="py-4">{{selectedProduct?.description}}</p>
    <p class="card__description font-bold" style="color: white;">{{selectedProduct?.price}} €</p>
    <div *ngIf="selectedProduct?.type == 'burgers'">
      <br>
      <label for="Guarnicion" style="font-family: '3'; color: white;">Punto de la Carne:</label>
      <br>
      <select [(ngModel)]="selectedProduct.point" (ngModelChange)="validateSelection()" class="select select-warning w-full max-w-xs">
        <option disabled selected>Elige el Punto de la Carne</option>
        <option value="cruda">Cruda</option>
        <option value="poco_hecha">Poco Hecha</option>
        <option value="al_punto">Al Punto</option>
        <option value="hecha">Hecha</option>
        <option value="muy_hecha">Muy Hecha</option>
      </select>
      <div *ngIf="errors.point" style="font-family: '3';" class="text-red-500">Por favor, selecciona el punto de la carne.</div>

      <br>
      <label for="Guarnicion" style="font-family: '3'; color: white;">Guarnición:</label>
      <br>
      <select [(ngModel)]="selectedProduct.garrison" (ngModelChange)="validateSelection()" class="select select-warning w-full max-w-xs">
        <option disabled selected>Elige La Guarnición</option>
        <option value="patatas_fritas">Patatas Fritas</option>
        <option value="boniato">Boniato Frito</option>
        <option value="sin_guarnicion">Sin Guarnición</option>
      </select>
      <div *ngIf="errors.garrison" style="font-family: '3';" class="text-red-500">Por favor, selecciona una guarnición.</div>
    </div>

    <div class="modal-action">
      <form method="dialog">
        <button id="button-add" class="btn btn-outline btn-success" [disabled]="isSubmitDisabled" (click)="emitProduct()">Añadir al Carrito</button>
        <button class="btn">Cancelar</button>
      </form>
    </div>
  </div>
</dialog>





<section>
    <H2 style="text-align: center;">HAMBURGUESAS</H2>
<div class="cards"> 
@for (item of burgers; track $index) {
    <div class="card">
        <img src="{{item.img}}" alt="" width="100%">
        <div class="card__content">
          <p class="card__title">{{item.name}}</p>
          <p class="card__description" style="color: white;">{{item.description}}</p>
          <p class="card__description" style="color: white; font-family: '4';">{{item.price}} €</p>
          <button class="btn btn-sm btn-warning" style="background-color: #FFB600; border: #FFB600;" (click)="transferInfo(item)" onclick="my_modal_4.showModal()">Añadir</button>

        </div>
      </div>
}

</div>
</section>


<section>
    <H2 style="text-align: center;">POSTRES</H2>
<div class="cards"> 
@for (item of desserts; track $index) {
    <div class="card">
        <img src="{{item.img}}" alt="" width="100%">
        <div class="card__content">
          <p class="card__title">{{item.name}}</p>
          <p class="card__description" style="color: white;">{{item.description}}</p>
          <p class="card__description" style="color: white; font-family: '4';">{{item.price}} €</p>
          <button class="btn btn-sm btn-warning" style="background-color: #FFB600; border: #FFB600;" (click)="transferInfo(item)" onclick="my_modal_4.showModal()">Añadir</button>
        </div>
      </div>
}

</div>
</section>



<section>
  <H2 style="text-align: center;">Bebidas</H2>
<div class="cards" > 
@for (item of drinks; track $index) {
  <div class="card" style="background-color: rgb(19, 19, 19);">
    <p class="card__title">{{item.name}}</p>
      <div class="card__content">
      <p class="card__title">{{item.name}}</p>
        <p class="card__description" style="color: white; font-family: '4';">{{item.price}} €</p>
        <button class="btn btn-sm btn-warning" style="background-color: #FFB600; border: #FFB600;" (click)="transferInfo(item)" onclick="my_modal_4.showModal()">Añadir</button>
      </div>
    </div>
}

</div>
</section>




